.scroll-top{
    position: fixed;
    bottom: 30px;
    right: 12px;
    height: 30px;
    width: 30px;
    color: rgb(53, 14, 14);
    background-color: rgb(237, 237, 222);
    z-index: 10;
    border-radius: 50%;
    border: none;
}

.scroll-top:hover{
    background-color: black;
    color: white;
    transition: all 0.5s;
}